<div class="container padding">
	
	<%= simple_form_for @book do |f| %>
		<%= f.input :email, :label => "UMaine Email Address" %>
		<%= f.input :course_number, :label => "Your Class Number", :placeholder => "ENG131" %>
		<%= f.input :isbn, :label => "Book ISBN", :placeholder => "9 or 13 digit ISBN" %>
		<%= f.input :price %>
		<%= f.input :title %>
		<%= f.button :submit, :class => "btn btn-primary" %>
	<% end %>	
</div>

<% content_for :cta do %>
	<h1>Post your Book Like a Boss</h1>
	<h2>Just fill out the info below, no account required!</h2>
<% end %>